@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#trips-div {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr; /* Balanced columns for image, description, iframe */
    gap: 20px; /* Space between columns */
    width: 98%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

* {
    font-family: 'Poppins', sans-serif;
}

.Indian-Head {
    grid-column: 2 / 3;
    align-self: start;
    color:#333;
}

.trips-h1 {
    grid-column: 1 / -1; /* Center the header across all columns */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.image-div {
    grid-column: 1 / 2; /* First column for the image */
    align-self: center;
}

.image-div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
